# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/config.hex
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/config.hex
Manchester encoder-decoder.cydsn/BUILD.log
Manchester encoder-decoder.cydsn/CortexM3/
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/BitCounterDec.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/BitCounterDec.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/BitCounterDec_PM.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/BitCounterEnc.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/BitCounterEnc.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/BitCounterEnc_PM.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Boundary8bit.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Boundary8bit.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Boundary8bit_PM.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/CH32kHZ_IN.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/CH32kHZ_IN.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/CH32kHZ_IN_aliases.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/CH32kHZ_OUT.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/CH32kHZ_OUT.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/CH32kHZ_OUT_aliases.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/CLK_ADJ.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/CLK_ADJ.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/CLK_ADJ_aliases.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/CS2.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/CS2.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/CS2_aliases.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/CSn.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/CSn.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/CSn_aliases.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Capture_high.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Capture_high.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Capture_low.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Capture_low.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Clock_2.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Clock_2.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Clock_5.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Clock_5.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Clock_9.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Clock_9.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Cm3Iar.icf
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Cm3RealView.scat
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Cm3Start.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Comp_1.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Comp_1.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Comp_1_PM.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Comp_2.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Comp_2.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Comp_2_PM.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Comp_high.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Comp_high.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Comp_high_PM.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Comp_low.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Comp_low.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Comp_low_PM.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Control_Capture_3.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Control_Capture_3.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Control_Capture_3_PM.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Control_Period.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Control_Period.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Control_Period_PM.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/CyBootAsmGnu.s
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/CyBootAsmIar.s
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/CyBootAsmRv.s
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/CyDmac.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/CyDmac.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/CyFlash.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/CyFlash.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/CyLib.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/CyLib.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/CySpc.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/CySpc.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/DIN.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/DIN.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/DIN_aliases.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/DInN.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/DInN.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/DInN_aliases.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/DInP.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/DInP.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/DInP_aliases.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/DOUT.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/DOUT.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/DOUT_aliases.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/DRDYn.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/DRDYn.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/DRDYn_aliases.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/FrameAllow.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/FrameAllow.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/FrameAllow_PM.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/INT1.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/INT1.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/INT1_aliases.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/INT2.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/INT2.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/INT2_aliases.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Opamp_1.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Opamp_1.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Opamp_1_PM.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Out_TikTak.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Out_TikTak.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Out_TikTak_aliases.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Period.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Period.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Period_PM.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Pin_1.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Pin_1.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Pin_1_aliases.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Pin_test11.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Pin_test11.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Pin_test11_aliases.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Pin_test12.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Pin_test12.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Pin_test12_aliases.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Pin_test21.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Pin_test21.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Pin_test21_aliases.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Pin_test22.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Pin_test22.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Pin_test22_aliases.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/RecieveShiftReg.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/RecieveShiftReg.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/RecieveShiftReg_PM.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/SCL2.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/SCL2.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/SCL2_aliases.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/SCLK.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/SCLK.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/SCLK_aliases.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/SDI2.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/SDI2.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/SDI2_aliases.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/SDO2.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/SDO2.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/SDO2_aliases.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/SPIM_MEMS.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/SPIM_MEMS.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/SPIM_MEMS_INT.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/SPIM_MEMS_IntClock.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/SPIM_MEMS_IntClock.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/SPIM_MEMS_PM.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/SPIM_MEMS_PVT.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/SPI_ADC.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/SPI_ADC.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/SPI_ADC_INT.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/SPI_ADC_IntClock.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/SPI_ADC_IntClock.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/SPI_ADC_PM.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/SPI_ADC_PVT.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/START_PIN.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/START_PIN.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/START_PIN_aliases.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/SigmaReg.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/SigmaReg.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/SigmaReg_PM.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/StartButton_1.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/StartButton_1.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/StartTransmit.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/StartTransmit.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/StartTransmit_PM.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/TEST.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/TEST.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/TEST_2.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/TEST_2.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/TEST_2_aliases.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/TEST_PM.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/TransmitShiftReg.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/TransmitShiftReg.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/TransmitShiftReg_PM.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/VDAC8_1.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/VDAC8_1.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/VDAC8_1_PM.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Vout_1.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Vout_1.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Vout_1_aliases.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Waiter.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Waiter.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Waiter_PM.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cm3gcc.ld
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cmsis_armcc.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cmsis_compiler.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/core_cm3.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cmsis_gcc.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/core_cm3_psoc5.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/core_cmFunc.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/core_cmInstr.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cyPm.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cyPm.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cy_em_eeprom.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cy_em_eeprom.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cycodeshareexport.ld
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cycodeshareimport.ld
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cycodeshareimport.scat
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cydevice_trm.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cydevice.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cydevicegnu.inc
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cydevicegnu_trm.inc
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cydeviceiar.inc
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cydeviceiar_trm.inc
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cydevicerv.inc
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cydevicerv_trm.inc
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cydisabledsheets.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cyfitter.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cyfitter_cfg.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cyfitter_cfg.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cyfittergnu.inc
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cyfitteriar.inc
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cyfitterrv.inc
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cymetadata.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cypins.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cytypes.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cyutils.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/project.h
Manchester encoder-decoder.cydsn/Manchester encoder-decoder-000.cywrk.e.ivanov
Manchester encoder-decoder.cydsn/Manchester encoder-decoder.cycdx
Manchester encoder-decoder.cydsn/Manchester encoder-decoder.cyfit
Manchester encoder-decoder.cydsn/Manchester encoder-decoder.cyprj.e.ivanov
Manchester encoder-decoder.cydsn/Manchester encoder-decoder.rpt
Manchester encoder-decoder.cydsn/Manchester encoder-decoder.svd
Manchester encoder-decoder.cydsn/Manchester encoder-decoder_timing.html
Manchester encoder-decoder.cydsn/codegentemp/
Manchester encoder-decoder.cydsn/Backup/
Manchester encoder-decoder.cydsn/Manchester encoder-decoder-000.cywrk.лях
Manchester encoder-decoder.cydsn/Manchester encoder-decoder-000.cywrk.лях
Manchester encoder-decoder.cydsn/Manchester encoder-decoder-000.cywrk.лях
Manchester encoder-decoder.cydsn/Manchester encoder-decoder-000.cywrk.лях
