# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/config.hex
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/config.hex
Manchester encoder-decoder.cydsn/Export/
Manchester encoder-decoder.cydsn/CortexM3/
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/BitCounterDec.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/BitCounterDec.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/BitCounterDec_PM.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/BitCounterEnc.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/BitCounterEnc.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/BitCounterEnc_PM.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Clock_10.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Clock_10.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Clock_2.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Clock_2.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Clock_5.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Clock_5.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Cm3Iar.icf
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Cm3RealView.scat
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Cm3Start.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Comp_1.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Comp_1.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Comp_1_PM.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Comp_2.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Comp_2.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Comp_2_PM.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Counter_1.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Counter_1.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Counter_1_PM.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/CyBootAsmGnu.s
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/CyBootAsmIar.s
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/CyBootAsmRv.s
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/CyDmac.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/CyDmac.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/CyFlash.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/CyFlash.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/CyLib.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/CyLib.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/CySpc.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/CySpc.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/DInN.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/DInN.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/DInN_aliases.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/DInP.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/DInP.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/DInP_aliases.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/FrameAllow.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/FrameAllow.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/FrameAllow_PM.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Opamp_1.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Opamp_1.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Opamp_1_PM.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/RecieveShiftReg.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/RecieveShiftReg.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/RecieveShiftReg_PM.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/S1ms.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/S1ms.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/S1ms_aliases.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/StartButton_1.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/StartButton_1.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/StartTransmit.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/StartTransmit.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/StartTransmit_PM.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/TransmitShiftReg.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/TransmitShiftReg.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/TransmitShiftReg_PM.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/USBUART.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/USBUART.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/USBUART_Dm.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/USBUART_Dm.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/USBUART_Dm_aliases.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/USBUART_Dp.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/USBUART_Dp.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/USBUART_Dp_aliases.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/USBUART_audio.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/USBUART_audio.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/USBUART_boot.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/USBUART_cdc.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/USBUART_cdc.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/USBUART_cdc.inf
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/USBUART_cls.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/USBUART_cydmac.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/USBUART_descr.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/USBUART_drv.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/USBUART_episr.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/USBUART_hid.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/USBUART_hid.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/USBUART_midi.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/USBUART_midi.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/USBUART_msc.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/USBUART_msc.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/USBUART_pm.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/USBUART_pvt.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/USBUART_std.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/USBUART_vnd.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/VDAC8_1.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/VDAC8_1.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/VDAC8_1_PM.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Vout_1.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Vout_1.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Vout_1_aliases.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Waiter.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Waiter.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/Waiter_PM.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cm3gcc.ld
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cmsis_armcc.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cmsis_compiler.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cmsis_gcc.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/core_cm3.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/core_cm3_psoc5.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/core_cmFunc.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/core_cmInstr.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cyPm.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cyPm.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cy_em_eeprom.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cy_em_eeprom.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cycodeshareexport.ld
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cycodeshareimport.ld
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cycodeshareimport.scat
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cydevice.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cydevice_trm.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cydevicegnu.inc
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cydevicegnu_trm.inc
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cydeviceiar_trm.inc
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cydeviceiar.inc
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cydevicerv.inc
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cydisabledsheets.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cydevicerv_trm.inc
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cyfitter.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cyfitter_cfg.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cyfitter_cfg.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cyfittergnu.inc
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cyfitteriar.inc
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cyfitterrv.inc
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cymetadata.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cypins.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cytypes.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/cyutils.c
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/exported_symbols.txt
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/project.h
Manchester encoder-decoder.cydsn/Generated_Source/PSoC5/renamed_symbols.txt
Manchester encoder-decoder.cydsn/codegentemp/
Manchester encoder-decoder.cydsn/BUILD.log
Manchester encoder-decoder.cydsn/Manchester encoder-decoder-000.cywrk.e.ivanov
Manchester encoder-decoder.cydsn/Manchester encoder-decoder-000.cywrk.r.lihomanov
Manchester encoder-decoder.cydsn/CLEAN.log
Manchester encoder-decoder.cydsn/Manchester encoder-decoder.cyprj.r.lihomanov
Manchester encoder-decoder.cydsn/REBUILD.log
Manchester encoder-decoder.cydsn/Backup/
Manchester encoder-decoder.cydsn/Manchester encoder-decoder-000.cywrk.лях
Manchester encoder-decoder.cydsn/debug.log
Manchester encoder-decoder.cydsn/Manchester encoder-decoder-000.cywrk.лях
Manchester encoder-decoder.cydsn/Manchester encoder-decoder-000.cywrk.лях
Manchester encoder-decoder.cydsn/Manchester encoder-decoder-000.cywrk.лях
Manchester encoder-decoder.cydsn/Manchester encoder-decoder-000.cywrk.лях
Manchester encoder-decoder.cydsn/Manchester encoder-decoder-000.cywrk.лях
Manchester encoder-decoder.cydsn/Manchester encoder-decoder-000.cywrk.лях
Manchester encoder-decoder.cydsn/Manchester encoder-decoder-000.cywrk.лях
Manchester encoder-decoder.cydsn/Manchester encoder-decoder-000.cywrk.лях
Manchester encoder-decoder.cydsn/Archive/
Manchester encoder-decoder.cydsn/ComponentUpdateLog.txt
